html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes leftSlide {
  0 {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@keyframes leftSlide {
  0 {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@-webkit-keyframes rightSlide {
  0 {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@keyframes rightSlide {
  0 {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@-webkit-keyframes slashSquash {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  90% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes slashSquash {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  90% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes nameFade {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes nameFade {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: Libre Baskerville, serif;
  background-color: #fff; }

.page-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease; }

a {
  font-family: Libre Baskerville, serif;
  color: #000000;
  text-decoration: none; }

.link-list a:hover {
  text-decoration: underline; }

.link-list.horizontal {
  text-align: center; }
  .link-list.horizontal li {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative; }
    .link-list.horizontal li:before {
      content: '\2022';
      position: absolute;
      right: -12px;
      top: 2px;
      font-size: 12px; }
    .link-list.horizontal li:last-of-type {
      margin-right: 0; }
      .link-list.horizontal li:last-of-type:before {
        display: none; }
    .link-list.horizontal li a {
      padding: 3px 5px; }

.link-list.vertical {
  text-align: left; }
  .link-list.vertical li {
    display: block;
    margin-bottom: 7px;
    text-align: left; }
    .link-list.vertical li:last-of-type {
      margin-bottom: 0; }
    .link-list.vertical li a {
      padding: 3px 0; }

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .background-container svg {
    display: block;
    height: 100vh;
    padding: 10px 5px 5px 10px; }
    .background-container svg .animated-layer > g.pattern-node > * {
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.52, -0.21, 0.28, 1.29);
      transition: -webkit-transform 0.5s cubic-bezier(0.52, -0.21, 0.28, 1.29);
      transition: transform 0.5s cubic-bezier(0.52, -0.21, 0.28, 1.29);
      transition: transform 0.5s cubic-bezier(0.52, -0.21, 0.28, 1.29), -webkit-transform 0.5s cubic-bezier(0.52, -0.21, 0.28, 1.29);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
    .background-container svg .animated-layer > g.pattern-node > .pattern-node-word {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }

.page-container.work-panel-active + .background-container svg .layer-work > g.pattern-node > * {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.page-container.work-panel-active + .background-container svg .layer-work > g.pattern-node > .pattern-node-word {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.page-container.about-panel-active + .background-container svg .layer-about > g.pattern-node > * {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.page-container.about-panel-active + .background-container svg .layer-about > g.pattern-node > .pattern-node-word {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.page-container.focus-panel-active + .background-container svg .layer-focus > g.pattern-node > * {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.page-container.focus-panel-active + .background-container svg .layer-focus > g.pattern-node > .pattern-node-word {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.page-container.contact-panel-active + .background-container svg .layer-contact > g.pattern-node > * {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.page-container.contact-panel-active + .background-container svg .layer-contact > g.pattern-node > .pattern-node-word {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.panel {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  overflow: hidden; }
  .panel-inner {
    background-color: #fff; }

.panel-intro .panel-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 280px;
  padding: 10px; }
  .panel-intro .panel-inner .wordmark {
    width: 360px;
    max-width: 95vw;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .panel-intro .panel-inner .wordmark svg {
      display: block;
      overflow: visible; }
  .panel-intro .panel-inner .link-list {
    margin-top: 20px;
    -webkit-backface-visibility: hidden;
    -webkit-animation-name: nameFade;
            animation-name: nameFade;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .panel-intro .panel-inner .link-list a {
      font-size: 13px; }

#logo-firstname,
#logo-lastname {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  filter: alpha(opacity=0); }

#logo-firstname {
  -webkit-animation-name: leftSlide;
          animation-name: leftSlide;
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px); }

#logo-lastname {
  -webkit-animation-name: rightSlide;
          animation-name: rightSlide;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px); }

#logo-slash {
  -webkit-animation-name: slashSquash;
          animation-name: slashSquash;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center; }
