.background-container {
	position: fixed;
  top: 0;
  left: 0;
	z-index: -1;
  width: 100vw;
  height: 100vh;
	overflow: hidden;

	//actual pattern
	svg {
		display: block;
		height: 100vh;
		padding: 10px 5px 5px 10px;

		//onload for pattern nodes
		.animated-layer {
			& > g.pattern-node {
				//add transition for scale transforms
				& > * {
					transition: transform .5s cubic-bezier(0.52, -0.21, 0.28, 1.29), opacity .5s ease;
					transform-origin: center center;
					opacity: 1;
					transform: scale(1);
				}

				//hide section words
				& > .pattern-node-word {
					opacity: 0;
					transform: scale(0);
				}
			}
		}
	}
}

//animate based on container state
.page-container {
	@include backgroundSwitch(work);
	@include backgroundSwitch(about);
	@include backgroundSwitch(focus);
	@include backgroundSwitch(contact);

	& + .background-container svg .filler-layer,
	& + .background-container svg .animated-layer {
		transform-origin: center center;
		& > g {
			@for $i from 0 to 100 {
				$t: (1 + .01*random(500))*1s;
				// $d: (1 + .05*random(1500))*1s;

				&:nth-child(#{$i + 1}) > *:not(.pattern-node-word) {
					animation: pulse 10s ease-out infinite;
					animation-delay: .01*random(100)*$t;
					transform-origin: center center;
				}
			}
		}
	}
}
