<div id="Panel-intro" class="panel panel-intro">
	<div class="panel-inner">
		<div class="wordmark">
			<!-- import -->
			<img src="/site/img/svg/wordmark.svg">
		</div>
		<!-- <a href="javascript:void(0)" class="js-next"><span>i</span></a> -->
		<ul class="link-list horizontal">
			<li><a class="" href="javascript:void(0)">work</a></li>
			<li><a class="" href="javascript:void(0)">about</a></li>
			<li><a class="" href="javascript:void(0)">focus</a></li>
			<li><a class="" href="javascript:void(0)">contact</a></li>
		</ul>
	</div>
</div>
