<div id="Panel-work" class="panel panel-work">
	<div class="panel-inner relative">
		<div class="panel-node pull-left pull-up personal-node">
			<h2>personal work</h2>
			<ul class="link-list horizontal no-dots">
				<li>
					<a href="https://github.com/michael-eightnine" target="_blank">
						<img src="/site/img/svg/icons/github.svg" alt="">
					</a>
				</li>
				<li>
					<a href="https://codepen.io/MichaelRyanSmith" target="_blank">
						<img src="/site/img/svg/icons/codepen.svg" alt="">
					</a>
				</li>
				<li>
					<a href="https://vimeo.com/eightnine" target="_blank">
						<img src="/site/img/svg/icons/vimeo.svg" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="panel-node pull-down pull-right pull-left professional-node">
			<h2>selected professional clientele</h2>
			<img src="img/raster/logos1.png" alt="">
			<img src="img/raster/logos2.png" alt="">
		</div>
	</div>
</div>
